* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: rgb(240, 255, 174);
  border-radius: 20px;
}

.form-elem {
  margin: 10px 0;
}

.transactions {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: rgb(231, 252, 137);
  border-radius: 20px;
}

.one-form {
  background-color: aquamarine;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}
